서울시 API Key.txt
.env
/대외비
제출서류/\[2026 서울시 빅데이터 활용 경진대회_창업부분\]_팀명_이름_개인정보 수집 및 이용동의서.hwp
제출서류/\[2026 서울시 빅데이터 활용 경진대회_창업부분\]_팀명_참가신청서.hwp
제출서류/\[2026 서울시 빅데이터 활용 경진대회_창업부분\]_팀명_참가신청서.hwp
\[국민대검토\]01_연구개발계획서-PART2(본문1)(과제명 앞 두 단어_주관연구개발기관명).hwp
/code/agents/__pycache__
/code/__pycache__
/code/agents/__pycache__
*.pyc
*.pyc
